<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
    <script src="./lib/vue.js"></script>
    <script src="./lib/vue-resource-1.3.4.js"></script>
</head>
<body>
    <div id="app">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加数据</h3>
            </div>
            <div class="panel-body form-inline">
                <label class="" for="">
                   name:
                   <input autofocus type="text" v-model="name"> 
                </label>
                <input type="button" value="添加" @click="add">
            </div>
        </div>
        <table class="table table-bordered table-hover tab">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>name</th>
                    <th>ctime</th>
                    <th>Opera</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.ctime }}</td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<script src="./lib/moment.js"></script>
    <script>
        //只能用相对路径
        Vue.http.options.root='http://vue.lovegf.cn:8899/api'
        //
        Vue.http.options.emulateJSON=true

        new Vue({
            el:'#app',
            data:{
                name:'',
                list:[ {id:1,name:'五菱宏光',ctime:moment().calendar()},
                {id:2,name:'宝骏',ctime:new Date()}
                ],
                
            },
            created(el) {
                this.getAllList()
            },
            methods: {
                // http://vue.lovegf.cn:8899/api/getprodlist
                add(){
                    this.$http.post('addproduct',{name:this.name}).then(result=>{
                        if(result.body.status === 0){
                            this.getAllList()
                        }else{
                            alert('添加失败')
                        }
                    })
                },
            
                getAllList(){
                    this.$http.get('getprodlist').then(result=>{
                        // console.log(result);
                        
                        if(result.body.status === 0){
                            this.list = result.body.message
                        }else{
                            alert("获取数据失败");
                        }
                    })
                },
                del(id){
                    this.$http.get('delproduct/' + id).then(result=>{
                        if(result.body.status === 0){
                            this.getAllList()
                        }else{
                            alert('删除失败')
                        }
                    })
                }
            },

        })
    </script>
</body>
</html>