<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="./lib/vue.js"></script>
</head>
<body>
    <div id="app">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">添加列表</h3>
              </div>
              <div class="panel-body form-inline">
                <label>
                    id:
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label>
                        name:
                        <input type="text" class="form-control" v-model="name">
                    </label>
                    <!-- 在vue中添加事件绑定机制,如果加了()就可以给我们的函数传参数 -->
                    <input type="button" value="添加" class="btn btn-primay" @click="add()">
                    <label>
                            搜索关键字:
                            <input type="text" class="form-control" v-model="keyword">
                        </label>
              </div>
          </div>
            <table class="table table-bordered table-hover table-striped">
                 <thead>
                     <tr>
                         <th>id</th>
                         <th>name</th>
                         <th>ctime</th>
                         <th>opertion</th>
                     </tr>
                 </thead>
                 <tbody>
                     <!-- 之前咱们的数据都是直接从data中的list数据循环渲染,现在根据关键字渲染数据   zaisearch方法内部fo -->
                     <tr v-for="item in search(keyword)" :key="item.id">
                         <td>{{item.id}}</td>
                         <td v-text="item.name"></td>
                         <td>{{item.ctime | dateFormat}}</td>
                         <td>
                             <a href="javascript:;"  @click.prevent="del(item.id)">删除</a>
                         </td>
                     </tr>
                 </tbody>
                  </table>
    </div>
    <script>

        Vue.filter('dateFormat',function(dateStr){
            var dt=new Date(dateStr)

            var y=dt.getFullYear();
            var m=dt.getMonth()+1;
            var d =dt.getDate();

            return `${y}-${m}-${d}`;
        })
        new Vue({
            el:"#app",
            data:{
                id:'',
                name:'',
                keyword:'',
              list:[
                {id:1,name:'现代',ctime:new Date()},
                {id:2,name:'大众',ctime:new Date()}
              ]
            },
            methods: {
                add(){
                    var arr={id:this.id,name:this.name,ctime:new Date()}
                    this.list.push(arr);
                    this.id=this.name='';
                    // 分析
                    //获取到我们的id,name.直接从data上获取.
                    //组织一个对象,调用数据相关方法..添加我们数据list表中
                    //注意:在vue中已经实现数据的双向绑定,每当我们修改了data中大的数据,vue会默认监听到数据改变,自动把最新的数据应用到页面上
                },
              
                 del(id){
                //1.在数据库中我们以获取id可以直接用sql语句直接查询删除
                //2.假数据我们根据id,找到y要删除这项的索引
                //3.如果找到索引,直接调用数组

                // this.list.some((item,i)=>{
                //     if (item.id == id) {
                //         this.list.splice(i,1)
                //         //在数组的some方法中,如果return true 就会立即终止这个数据的后续循环
                //         return true;
                //     }
                // })

               var index= this.list.findIndex(item=>{
                    if(item.id == id){
                        return true;
                    }
                })
                this.list.splice(index,1)
            },
            search(keyword){
                var newList = [];
                this.list.forEach(item => {
                      if(item.name.indexOf(keyword)  !=-1){
                        newList.push(item)
                      }      
                })
                return newList;
            }
            
            }
           
        // 数组的遍历新用法
        // forEach:循环遍历每一项
        // some:在数组中查询满足条件元素,当满足时返回true,停止循环
        //filter过滤数组,返回一个满足条件的新数组
        // findIndex查询数组中的索引
           
        })
    </script>
</body>
</html>